<div class="documentation">
<h1>About</h1>
  The Guillotine two-cut knapsack problem is a type of <a href="https://en.wikipedia.org/wiki/Packing_problems">packing problem</a> that is well studied and common in industry. The goal is to minimize the source material used when cutting a set of smaller rectangle shapes. The main restriction is that cuts must run completely from one side to another. The problem is N-P hard, but there are many algorithms to find an approximate solution.

<h3>Cutting and Knapsack problems</h3>
<ul>
  <li>
    <a href="https://www.gerad.ca/colloques/ColumnGeneration2008/slides/Carvalho.pdf">Exact Algorithms for Two Dimensional Cutting Stock</a>
	 </li>
  <li>
    <a href="http://onlinelibrary.wiley.com/doi/10.1111/itor.12077/full">Usable leftover model</a>
  </li>
  <li>
    <a href="http://www.lamsade.dauphine.fr/~furini/lib/exe/fetch.php?media=wiki:bpp.pdf">Introduction to Bin Packing</a>
  </li>
  <li>
    <a href="https://www.emis.de/journals/HOA/AOR/Volume2009/732010.pdf">Exact Method for 2D Guillotine Strip Packing</a>
  </li>
  <li>
    <a href="https://www.youtube.com/watch?v=D5GieqMDcrc">Enrico Malaguti youtube lecture</a>
  </li>
  <li>
    <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.714.3908&rep=rep1&type=pdf">2D Cutting problem with Multple Stock Size</a>
  </li>
    <li>
    <a href="http://tesi.cab.unipd.it/43647/1/Tesi_Magistrale.pdf">Algorithms for two-dimensional guillotine packing problems - good overview</a>
  </li>


</ul>
<h3>Linear Programming</h3>
<ul>
  <li>
    <a href="https://en.wikibooks.org/wiki/GLPK/Knapsack_Problem">GLPK Knapsack Problem example</a>
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/AMPL">Mathematical Programming Language (AMPL</a>
  </li>
  <li>
    <a href="http://www.coin-or.org">COIN|OR linear program solver</a>
  </li>
  <li>
    <a href="https://www.npmjs.com/package/javascript-lp-solver">Javascript LP / MIP solver</a>
  </li>
  <li>
    <a href="http://www.gurobi.com/resources/getting-started/mip-basics">Branch and Bound</a>
  </li>
</ul>

</div>
