<div class="documentation">
<h1>About</h1>
  The Guillotine two-cut knapsack problem is a type of <a href="https://en.wikipedia.org/wiki/Packing_problems">packing problem</a> that is well studied and common in industry. The goal is to minimize the source material used when cutting a set of smaller rectangle shapes. The main restriction is that cuts must run completely from one side to another. The problem is N-P hard, but there are many algorithms to find an approximate solution.

<ul>
  <li>https://www.gerad.ca/colloques/ColumnGeneration2008/slides/Carvalho.pdf</li>
</ul>

</div>
