<base href="/">
    <nav>
      <span>
        <a [routerLink]=" ['./drag'] " routerLinkActive="active">
          Layout
        </a>
      </span>
      <span>
        <a [routerLink]=" ['./resize'] " routerLinkActive="active">
          Resize Single
        </a>
      </span>
      <span>
        <a [routerLink]=" ['./about'] " routerLinkActive="active">
          About
        </a>
      </span>
    </nav>

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer>
    </footer>
