.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.layout-area {
    border: 1px solid;
    background-color: #cccccc;
    margin-right: 20px;
    position: relative;
}
.box1 {
    background-color: #ffffcc;
    border: 1px solid;
    overflow: scroll;
    position: absolute;
}
.box-builder {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #eeeeee;
}
.page-controls {
    display: flex;
    flex-direction: row;
    align-items: start;
}
.coverage-details {
    margin-left: 30px;
}