<div>
  <div class='container'>
    <div class='box-builder'
	 (dragover)="onDragOverHandler($event)"
	 (drop)="dropRemoveHandler($event)"
	 >
      <box-resize
	 [box]="newBox"
	 [moveType]="'drag'"
	 [maxWidth]="width"
	 [maxHeight]="height"
	 [showDimensions]="true"
	 >
	</box-resize>
    </div>
    <div class='icon-column'>
      <span class='arrow-icon-container'>
	<i class='arrow-icon fa fa-long-arrow-right fa-2x'></i>
	<i class='arrow-icon fa fa-long-arrow-left fa-2x'></i>
      </span>
    </div>
    <div>
      <div class='layout-area'
	   [style.width.px]="width"
	   [style.height.px]="height"
	   (dragover)="onDragOverHandler($event)"
	   (drop)="dropAddHandler($event)"
	   >
	<box-resize
	   *ngFor="let box of currentSheet.boxes"
	   [box]="box"
	   [showDimensions]="true"
	   [moveType]="'drag'"
	   [maxWidth]="width"
	   [maxHeight]="height"
	   (onResize)="recalcLayout()"
	   >
	</box-resize>
      </div>
      <div class='page-controls'>
	<back-next
	   [currentIndex]="currentSheetIndex"
	   [maxIndex]="sheets.length"
	   (index)="setSheet($event)"
	   ></back-next>
	<span class='coverage-details'>
	  Coverage: {{coverageRatio | percent:'.1-1'}}
	</span>
      </div>
    </div>
  </div>
</div>
