.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.layout-area {
    border: 1px solid;
    background-color: #cccccc;
    position: relative;
}
.box1 {
    background-color: #ffffcc;
    border: 1px solid;
    overflow: scroll;
    position: absolute;
}
.box-builder {
    width: 400px;
    height: 500px;
    position: relative;
    background-color: #eeeeee;
}
.page-controls {
    display: flex;
    flex-direction: row;
    align-items: start;
}
.coverage-details {
    margin-left: 30px;
}
.icon-column {
    display: flex;
    align-items: center;
    justify-direction: center;
}
.arrow-icon-container {
    margin-left: 10px;
    margin-right: 10px;
}
.arrow-icon {
    display: block;
    margin-top: -10px;
    margin-bottom: -10px;
}