<div>
  <div class='container'>
    <div class='box-builder'
	 (dragover)="onDragOverHandler($event)"
	 (drop)="dropRemoveHandler($event)"
	 >
      <box-resize
	 [box]="newBox"
	 [moveType]="'drag'"
	 >
	</box-resize>
    </div>
    <div>
      <div class='layout-area'
	   [style.width.px]="width"
	   [style.height.px]="height"
	   (dragover)="onDragOverHandler($event)"
	   (drop)="dropAddHandler($event)"
	   >
	<box-resize
	   *ngFor="let box of currentSheet.boxes"
	   [box]="box"
	   [showDimensions]="true"
	   [moveType]="'drag'"
	   (onResize)="recalcLayout()"
	   >
	</box-resize>
      </div>
      <div class='page-controls'>
	<back-next
	   (increment)="changeSheet($event)"
	   ></back-next>
      </div>
    </div>
  </div>
</div>
